@media only screen and (max-width: 425px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        text-align: left;
    }
    li {
        padding: 0.5rem;
    }
    h1 {
        padding: 1rem 0;
    }
    h2 {
        margin: 0;
        text-align: center;
        padding: 1rem;
    }
    .projects {
        flex-direction: column;
        margin: 0;

    }
    .projects > * {
        margin-inline-end: 0;
        margin-block-end: 1rem;
        width: 100%;
    }
    
    .text {
        flex-direction: column;
        margin: 0;
        padding: .5rem;
    }

    main section:nth-child(even) .text {
        flex-direction: column;
    }

    .link {
        padding: 0;
    }

    .hero-banner {
        padding-block-start: 18rem;
        padding-block-end: 0;
        font-size: 1.5rem;
    }
    
    form .fields {
        width: 80%;
    }
    
    label{
        margin-block-end: .5rem;
    }
    .skills {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .aboutme figure {
        width: fit-content;
    }
    .gallary {
        padding-block-end: 2rem;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .hero-banner {
        padding-block-start: 8rem;
        padding-block-end: 5rem;
        font-size: 2rem;
    }

    .skills {
        height: 24rem;
        flex-wrap: wrap;
        flex: 1 1 calc(100% / 2);
        gap: 1.5rem;
    }

    form .fields {
        width: 70%;
    }
    .gallary {
        padding-block-end: 3rem;
    }
}