body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:firebrick;
}
figure {
    width: 30%;
}
figure img {
    width: 100%;

}